/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

main {
    padding: 2rem;
    max-width: 960px; /* Adjust as needed */
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #333;
}

/* Survey Section Styles */
#survey a {
    display: inline-block;
    background-color: #007bff; /* Blue button */
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

/* About Section Styles */
#about p {
    margin-bottom: 0.5rem;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
